* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 400px;
    margin: auto;
    justify-content: center;
}
.input{
    width: 400px;
    height: 35px;
    border: 1px solid black;
}
.input input{
    outline: none;
    border: none;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
}
.list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}
.task label{
    margin-left: 30px;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}