* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.container{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
  align-items: center;
}

button{
  width: 40px;
  margin-top: 300px;
}

.traffic-light{
  display: flex;
  margin-top: 10px;
  outline: auto;
}

.dot{
  height: 100px;
  width: 100px;
  background-color: grey;
  border-radius: 50%;
  margin: 5px;
}

.red{
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  margin: 5px;
}

.yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  margin: 5px;
}

.green{
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  margin: 5px;
}